.button.expand {
height: 3em;
border-radius: 1em;
margin-top: -5px;
width: 117px;
margin-left: 8px;
}

li.has-form {
background-color: #054260;
list-style: none;
padding-top: 2em;
padding-left: 10em;
padding-top: 18px !important;

}
.top-bar{
background:#1A1A1A;
}

#club-gallery {
padding-top: 13em;
}

.contain-to-grid .top-bar{
	height:5em;
}

.contain-to-grid{
    background-color: #1A1A1A;
}

a.alert.button.small.bar{
    height:38px;
}



.top-bar .name h1 a{
font-size: 2em;
margin-top: 17px;
}


li.has-form{
    padding:0;
    padding-top: 2em;
}

button.alert, .button.alert {
background-color: #3385A3;
border-color: #0A558B;
color: #fff;
}

.large-12 {
padding-bottom: 2em;
}



/*******
MAIN CSS
*******/
body{
	background:#E7E7E7;
}

div#search {
background-color: #054260;
margin-top: 5em;
position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  height: auto;
}

.tags {
font-size: 12px;
font-style: italic;
padding-top: 2em;
color: #4E9BF4 !important;
}

.title {
width: 100%;
background-color: #333333;
font-weight: 300;
padding: 15px;
font-size: 22px;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
color: #FFC06D;
margin-bottom: 10px;
}

.normal {
font-size: 21px;
background: #3ACBF5;
text-align: left;
padding-left: 13px;
font-size: 1em;
border-radius: 5px;
font-weight: 500;
margin-bottom: 4px;
}

.time {
font-size: 21px;
background: #FFA500;
text-align: left;
padding-left: 13px;
font-size: 1em;
border-radius: 5px;
font-weight: 500;
margin-bottom: 4px;
}

.place {
font-size: 21px;
background: #C8BFB4;
text-align: left;
padding-left: 13px;
font-size: 1em;
border-radius: 5px;
font-weight: 500;
margin-bottom: 1em;
}

 .right.school {
line-height: 17px;
color: #054260;
margin-top: -5px;
font-size: 15px;
background: #4AAC43;
padding: 7px;
border-radius: 3px;
}

.info {
font-size: 14px;
padding: 0 7px;
text-align: left;
}

.panel{
    background: #fff;
    padding: 1em;    
    border-radius: 1em;
}

.strech{
    width:100%;
    background:#fff;
}

#footer{
    height: 50px;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
    background:#054260;
}
