.button.expand {
height: 3em;
border-radius: 1em;
margin-top: -5px;
width: 117px;
margin-left: 8px;
}

li.has-form {
background-color: #054260;
list-style: none;
padding-top: 2em;
padding-left: 10em;
height: 6em;
}


.contain-to-grid .top-bar{
	height:5em;
}


.top-bar-section ul li {
background: #298aba;
}

.top-bar-section li:not(.has-form) a:not(.button){
background: #298aba;	
}

.top-bar .name h1 a{
font-size: 2em;
margin-top: 17px;
}




button.alert, .button.alert {
background-color: #3385A3;
border-color: #0A558B;
color: #fff;
}

.large-12 {
padding-bottom: 2em;
}



/*******
MAIN CSS
*******/
body{
	background:#E7E7E7;
}


h3 {
width: 100%;
background-color: #FAC803;
font-weight: bolder;
padding: 7px;
font-size: 19px;
}

.tags {
font-size: 12px;
font-style: italic;
padding-top: 2em;
color: #4E9BF4 !important;
}


.time {
font-size: 21px;
background: #FF8800;
text-align: left;
padding-left: 13px;
font-size: 1em;
border-radius: 5px;
font-weight: 500;
margin-bottom: 4px;
}

.place {
font-size: 21px;
background: #C8BFB4;
text-align: left;
padding-left: 13px;
font-size: 1em;
border-radius: 5px;
font-weight: 500;
margin-bottom: 1em;
}

.info {
font-size: 14px;
padding: 0 7px;
text-align: left;
}

.panel{
    background: #fff;
    padding: 1em;    
    border-radius: 1em;
}

.strech{
    width:100%;
    background:#fff;
}

#footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
    background:#054260;
}
